<div th:fragment="navbar">
    <nav>
        <form action="#" th:action="@{/createEvent}" method="GET">
            <button style="
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: darkslateblue;
            border-radius: 10px;
            font-size: 1.2em;
            line-height: 3.0;
            color: white;" type="submit">Create Event</button>
        </form>
    </nav>
</div>