<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <title>PlanIt - Sign In</title>
    <link rel="icon" href="images/planetIcon.svg" type="image/svg+xml">
    <style>
        body{
            background-color: midnightblue;
            color: white;
        }
    </style>
</head>
<body>
    <div th:replace="fragments/header :: titleheader"></div>

    <div th:replace="~{fragments/signInForm :: signInSpot(userDTO=${userDTO}, errorMessage=${errorMessage})}"></div>
</body>